*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, rgb(91, 161, 246), rgb(46, 114, 198), rgb(6, 83, 178));
    font-size: 1.2rem;
    font-family: 'Segoe UI';
    text-align: center;
}

nav{
    padding: 32px;
}

nav a{
    padding: 16px 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
}

a:hover{
    background-color: rgb(21, 84, 232);
    border-radius: 16px;
}

h1{
    color: white;
    font-weight: bold;
}